<ul class="logo-brand">
    <li>
        <a href="{{ '/' | url }}" class="secondary">
            <img src="{{ '/assets/images/accesibilidad-color.png' | url }}"
                 alt="Logo de accesibilidad"
                 width="60">
        </a>
    </li>
    <li>
        <strong>
            Texto<br>
            alternativo
        </strong>
    </li>
</ul>