<nav class="container site-nav"
     aria-label="Navegación principal"
     data-nav data-open="false">

    {%- include "partials/logo-brand.njk" -%}

    <div class="nav-controls">

        {%- include "partials/theme-switch.njk" -%}

        {%- include "partials/nav-controls.njk" -%}

        <ul id="primary-navigation" class="primary-menu" data-nav-menu>
            <li><a href="{{ '/' | url }}">Inicio</a></li>
            <li><a href="{{ '/catalogo/' | url }}">Catálogo</a></li>
            <li><a href="{{ '/contacto/' | url }}">Contacto</a></li>
        </ul>
    </div>


</nav>
